/**
 * @name Acryllic
 * @author NILBOGtheSavior
 * @version 1.0.0
 * @description A clean and clear discord theme.
 * @source https://github.com/NILBOGtheSavior/NILBOGs-discord-themes/
*/

:root {
    /* Buttons */
    --green-360: rgba(255, 255, 255, .75);
    --green-330: rgba(0,0,0,0.5);
    --white-500: rgba(0,0,0,0.75);
    /* Text and Icons*/
    /* --font-primary: "Poiret One", sans-serif; */
    --text-normal: darkslategray;
    --text-muted: gray;
    
    --button-secondary-background: white;

    --channel-icon: rgba(255, 255, 255, .75);

}

.theme-dark, .theme-light {
    --background-primary: rgba(0, 0, 0, 0.25);
    --background-secondary: transparent;
    --background-secondary-alt: rgba(255, 255, 255, 0.25);
    --background-accent: black;
    
    

    --background-modifier-rgb: transparent;
    --background-modifier-hover: transparent;
    --background-modifier-active: transparent;
    --background-modifier-selected: transparent;
    --background-modifier-accent: transparent;

    --button-positive-background: rgba(255, 255, 255, .25) !important;
    --button-positive-background-hover: rgba(0, 0, 0, .25);

    --deprecated-text-input-bg: rgba(255, 255, 255, 0.25);
    --button-filled-brand-background-hover: rgba(255, 255, 255, 0.5);

    --background-floating: rgba(255, 255, 255, 0.25);

    --background-modifier-hover: rgba(255, 255, 255, 0.1);
    --profile-body-divider-color: rgba(255, 255, 255, 0.1);

    --bg-surface-overlay: rgba(255, 255, 255, 0.25);
    --modal-background: transparent;

    --activity-card-background: rgba(255, 255, 255, 0.25);

    --card-primary-bg: rgba(255, 255, 255, 0.25);

    --primary-630: rgba(255, 255, 255, 0.5);;
    --primary-800: rgba(255, 255, 255, 0.1);
    --primary-860: rgba(255, 255, 255, 0.5);

    /* Text and Icons*/
    /* --font-primary: "Poiret One", sans-serif; */
    --text-positive: white;

    --status-positive-text: white;
    --status-positive-background: rgba(255, 255, 255, 0.25);

    --bg-brand: rgba(255, 255, 255, 0.25);
    
    --text-normal: white; 
    /* --text-normal: white;  */

    --button-filled-brand-background: rgba(255, 255, 255, 0.25);

    --text-muted: rgba(255,255,255,0.5);
    --header-primary: white;
    --header-secondary: white;
    --interactive-active: white;
    --interactive-normal: rgba(255, 255, 255, 0.5);
    --primary-400: rgba(255, 255, 255, 0.25);
    --button-secondary-background: white;
    --button-positive-background: white;
    --channels-default: white;

}

.theme-light {
    --background-tertiary: rgba(255, 255, 255, 0.05);
    --bg-overlay-1: rgba(255, 255, 255, 0.1);
    --bg-overlay-2: rgba(255, 255, 255, 0.05);
    --bg-overlay-3: rgba(255, 255, 255, 0.2);
    
}

.theme-dark {
    --background-tertiary: rgba(0, 0, 0, 0.05);
    --bg-overlay-1: rgba(0, 0, 0, 0.05);
    --bg-overlay-2: rgba(0, 0, 0, 0.05);
    --bg-overlay-3: rgba(255, 255, 255, 0.05);
}


/* Transparent Call Background */
.wrapper-1gVUIN, .minimum-fXpVNc, .callContainer-HtHELf {
    background: none!important;
    }
#app-mount .container-3wLKDe, .chat-2ZfjoI, .background-fkKrXt, .header-3xB4vB, .content-1jQy2l, .root-g14mjS, .fullscreenOnMobile-ixj0e3, .card-14SgW5, .theme-dark, .navRow-dG-XX8, .directoryModal-YJsOMv, .autocomplete-3NRXG8, .flex-2S1XBF, .applicationStore-2nk7Lo {
	background: transparent;
}

.gradientTop_dd069c, .gradientBottom_dd069c {
    background-image: none;
}

/* For Spotify Plugin */
.vc-spotify-button {
    --interactive-normal: rgba(255, 255, 255, .5);
}

.vc-spotify-shuffle-on, .vc-spotify-repeat-context, .vc-spotify-repeat-track, .vc-spotify-shuffle-on:hover, .vc-spotify-repeat-context:hover, .vc-spotify-repeat-track:hover {
    --interactive-normal: white;
}

.barFill_c7a159 {
    background: rgba(255, 255, 255, 0.75);
}